[%- WRAPPER 'layout.tt' title=l('Reports') full_width=1 -%]
    <div id="content">
        <h1>[% l('Reports') %]</h1>

        <p>
            [% l('If you\'d like to participate in the editing process, but do not know where
                  to start, the following reports should be useful. These reports scour the
                  database looking for data that might require fixing, either to comply with
                  the {style|style guidelines}, or in other cases where administrative
                  "clean up" tasks are required.',
                  { style => doc_link('Official_Style_Guideline') }) %]
        </p>

        <h2>[% l('Artists') %]</h2>

        <ul>
            <li><a href="[% c.uri_for_action('/report/show', 'ArtistsThatMayBeGroups') %]">[% l('Artists that may be groups') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'ArtistsThatMayBePersons') %]">[% l('Artists that may be persons') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'ArtistsWithNoSubscribers') %]">[% l('Artists with no subscribers') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'DuplicateArtists') %]">[% l('Possibly duplicate artists') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'CollaborationRelationships') %]">[% l('Artists which have collaboration relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'PossibleCollaborations') %]">[% l('Artists which look like collaborations') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'ArtistsContainingDisambiguationComments') %]">[% l('Artists containing disambiguation comments in their name') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'DiscogsLinksWithMultipleArtists') %]">[% l('Discogs URLs linked to multiple artists') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'DuplicateRelationshipsArtists') %]">[% l('Artists with possible duplicate relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'ArtistsWithMultipleOccurancesInArtistCredits') %]">[% l('Artists occuring multiple times in the same artist credit') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'DeprecatedRelationshipArtists') %]">[% l('Artists with deprecated relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'AnnotationsArtists') %]">[% l('Artists with annotations') %]</a></li>
        </ul>

        <h2>[% l('Labels') %]</h2>

        <ul>
            <li><a href="[% c.uri_for_action('/report/show', 'DiscogsLinksWithMultipleLabels') %]">[% l('Discogs URLs linked to multiple labels') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'DuplicateRelationshipsLabels') %]">[% l('Labels with possible duplicate relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'DeprecatedRelationshipLabels') %]">[% l('Labels with deprecated relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'AnnotationsLabels') %]">[% l('Labels with annotations') %]</a></li>
        </ul>

        <h2>[% l('Release groups') %]</h2>

        <ul>
            <li><a href="[% c.uri_for_action('/report/show', 'SetInDifferentRG') %]">[% l('Release groups that might need to be merged') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'FeaturingReleaseGroups') %]">[% l('Release groups with titles containing featuring artists') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'DiscogsLinksWithMultipleReleaseGroups') %]">[% l('Discogs URLs linked to multiple release groups') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'DuplicateRelationshipsReleaseGroups') %]">[% l('Release groups with possible duplicate relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'DeprecatedRelationshipReleaseGroups') %]">[% l('Release Groups with deprecated relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'AnnotationsReleaseGroups') %]">[% l('Release groups with annotations') %]</a></li>
        </ul>

        <h2>[% l('Releases') %]</h2>

        <ul>
            <li><a href="[% c.uri_for_action('/report/show', 'ReleasesToConvert') %]">[% l('Releases which might need converting to "multiple artists"') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'NoLanguage') %]">[% l('Releases without language') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'NoScript') %]">[% l('Releases without script') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'BadAmazonURLs') %]">[% l('Releases which have unexpected Amazon URLs') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'MultipleASINs') %]">[% l('Releases which have multiple ASINs') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'MultipleDiscogsLinks') %]">[% l('Releases which have multiple Discogs links') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'ASINsWithMultipleReleases') %]">[% l('Amazon URLs linked to multiple releases') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'DiscogsLinksWithMultipleReleases') %]">[% l('Discogs URLs linked to multiple releases') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'PartOfSetRelationships') %]">[% l('Releases which have part of set relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'SeparateDiscs') %]">[% l('Discs entered as separate releases') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'TracksWithSequenceIssues') %]">[% l('Releases with non-sequential track numbers') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'SuperfluousDataTracks') %]">[% l('Releases with superfluous data tracks') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'FeaturingReleases') %]">[% l('Releases with titles containing featuring artists') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'ReleasedTooEarly') %]">[% l('Releases released too early') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'SomeFormatsUnset') %]">[% l('Releases where some (but not all) mediums have no format set') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'CatNoLooksLikeASIN') %]">[% l('Releases with catalog numbers that look like ASINs') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'UnlinkedPseudoReleases') %]">[% l('Translated/Transliterated Pseudo-Releases not linked to an original version') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'ReleasesInCAAWithCoverArtRelationships') %]">
              [% l('Releases in the Cover Art Archive that still have cover art relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'CoverArtRelationships') %]">
              [% l('Releases of any sort that still have cover art relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'MediumsWithSequenceIssues') %]">[% l('Releases with non-sequential mediums') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'ReleasesWithUnlikelyLanguageScript') %]">[% l('Releases with unlikely language/script pairs') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'TracksWithoutTimes') %]">[% l('Releases with unknown track times') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'DuplicateRelationshipsReleases') %]">[% l('Releases with possible duplicate relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'SingleMediumReleasesWithMediumTitles') %]">[% l('Releases with a single medium that has a name') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'ReleasesWithDownloadRelationships') %]">[% l('Non-digital releases with download relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'DeprecatedRelationshipReleases') %]">[% l('Releases with deprecated relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'AnnotationsReleases') %]">[% l('Releases with annotations') %]</a></li>
        </ul>

        <h2>[% l('Recordings') %]</h2>

        <ul>
           <li><a href="[% c.uri_for_action('/report/show', 'RecordingsWithEarliestReleaseRelationships') %]">[% l('Recordings with earliest release relationships') %]</a></li>
           <li><a href="[% c.uri_for_action('/report/show', 'TracksNamedWithSequence') %]">[% l('Tracks whose names include their sequence numbers') %]</a></li>
           <li><a href="[% c.uri_for_action('/report/show', 'FeaturingRecordings') %]">[% l('Recordings with titles containing featuring artists') %]</a></li>
           <li><a href="[% c.uri_for_action('/report/show', 'DuplicateRelationshipsRecordings') %]">[% l('Recordings with possible duplicate relationships') %]</a></li>
           <li><a href="[% c.uri_for_action('/report/show', 'RecordingsWithVaryingTrackLengths') %]">[% l('Recordings with varying track times') %]</a></li>
           <li><a href="[% c.uri_for_action('/report/show', 'DeprecatedRelationshipRecordings') %]">[% l('Recordings with deprecated relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'AnnotationsRecordings') %]">[% l('Recordings with annotations') %]</a></li>
        </ul>

        <h2>[% l('Places') %]</h2>

        <ul>
            <li><a href="[% c.uri_for_action('/report/show', 'DeprecatedRelationshipPlaces') %]">[% l('Places with deprecated relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'AnnotationsPlaces') %]">[% l('Places with annotations') %]</a></li>
        </ul>

        <h2>[% l('Series') %]</h2>

        <ul>
            <li><a href="[% c.uri_for_action('/report/show', 'AnnotationsSeries') %]">[% l('Series with annotations') %]</a></li>
        </ul>

        <h2>[% l('Works') %]</h2>

        <ul>
            <li><a href="[% c.uri_for_action('/report/show', 'DuplicateRelationshipsWorks') %]">[% l('Works with possible duplicate relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'DeprecatedRelationshipWorks') %]">[% l('Works with deprecated relationships') %]</a></li>
            <li><a href="[% c.uri_for_action('/report/show', 'AnnotationsWorks') %]">[% l('Works with annotations') %]</a></li>
        </ul>

        <h2>[% l('URLs') %]</h2>

        <ul>
            <li><a href="[% c.uri_for_action('/report/show', 'DeprecatedRelationshipURLs') %]">[% l('URLs with deprecated relationships') %]</a></li>
        </ul>


        <h2>[% l('ISRCs') %]</h2>

        <ul>
            <li><a href="[% c.uri_for_action('/report/show', 'ISRCsWithManyRecordings') %]">[% l('ISRCs with multiple recordings') %]</a></li>
        </ul>

        <h2>[% l('ISWCs') %]</h2>

        <ul>
            <li><a href="[% c.uri_for_action('/report/show', 'ISWCsWithManyWorks') %]">[% l('ISWCs with multiple works') %]</a></li>
        </ul>
    </div>
[%- END -%]
