[% WRAPPER "layout.tt" title=l("Create an Account") full_width=1 %]
<div id="content">

     [%- IF invalid_captcha_response -%]
     [%- warning(l('Captcha incorrect. Try again.')) -%]
     [%- END -%]

    <h1>[% l("Create an Account") %]</h1>

        <p>[%- l('<strong>Note that any contributions you make to MusicBrainz will be released
                into the Public Domain and/or licensed under a Creative Commons by-nc-sa license.
                Furthermore, you give the MetaBrainz Foundation the right to license this
                data for commercial use. Please read our {doc|license page} for more details.</strong>',
                { doc => doc_link('MusicBrainz_License') }) -%]</p>

        <p>[%- l('MusicBrainz believes strongly in the privacy of its users! Any personal
                  information you choose to provide will not be sold or shared with anyone else.
                  For full details, please read our {doc|Privacy Policy}.',
                  {doc => doc_link('MusicBrainz_Privacy_Policy')}) -%]</p>



    [%- USE r = FormRenderer(register_form) -%]
    <form class="register" action="[% c.req.uri %]" method="post">
        [% form_row_text(r, 'username', l('Username:')) %]
        <div class="row no-label">
            <span class="input-note">[% l('Your username will be publicly visible.') %]</span>
        </div>
        [% form_row_password(r, 'password', l('Password:')) %]
        [% form_row_password(r, 'confirm_password', l('Confirm password:')) %]
        [% form_row_text_long(r, 'email', l('Email:')) %]
        <div class="row no-label">
            <span class="input-note">[% l('You must provide a working email address if you wish to contribute to the database.') %]</span>
        </div>
        [%- IF use_captcha -%]
            <div class="row">
                <label class="required">[%~ add_colon(l('Captcha')) ~%]</label>
                [%- captcha -%]
            </div>
        [%- END -%]
        <div class="row no-label">
            <p>[%- l('Please review the {coc|MusicBrainz Code of Conduct} before creating an account.', { coc => doc_link('Code_of_Conduct') }) %]</p>
            [% form_submit(l('Create Account')) %]
        </div>
    </form>

        <p>[%- l('If you have any questions, please review the {faq|FAQs} or {doc|documentation}
                  before {con|contacting us}. ',
                  { faq => doc_link('Frequently_Asked_Questions'),
                    doc => doc_link('MusicBrainz_Documentation'),
                    con => doc_link('Contact_Us') }) -%]</p>

        <p>[% l("Follow our {bl|blog} or {tw|twitter account}! To talk to other users, try the {fo|forums} or {irc|IRC}.",
                 { bl => 'http://blog.musicbrainz.org/',
                   tw => 'https://twitter.com/MusicBrainz',
                   fo => 'http://forums.musicbrainz.org/',
                   irc => doc_link('Communication/IRC') }) %]</p>

        <p>[%- l('MusicBrainz has one account type for all users. If you represent an artist or label,
                  please use the above form to create an account.') -%]</p>

</div>
[% END %]
