[% WRAPPER 'layout.tt' title=l("Browse") full_width=1 %]
    <div id="content">
        <h1>[% l("Browse") %]</h1>

        <ul>
            <li><a href="[% c.uri_for('/browse/artist') %]">[% l('Browse artists') %]</a></li>
            <li><a href="[% c.uri_for('/browse/label') %]">[% l('Browse labels') %]</a></li>
            <li><a href="[% c.uri_for('/browse/release-group') %]">[% l('Browse release groups') %]</a></li>
            <li><a href="[% c.uri_for('/browse/release') %]">[% l('Browse releases') %]</a></li>
            <li><a href="[% c.uri_for('/browse/work') %]">[% l('Browse works') %]</a></li>
            <li><a href="[% c.uri_for('/browse/area') %]">[% l('Browse areas') %]</a></li>
            <li><a href="[% c.uri_for('/browse/place') %]">[% l('Browse places') %]</a></li>
            <li><a href="[% c.uri_for('/browse/series') %]">[% l('Browse series') %]</a></li>
            <li><a href="[% c.uri_for('/browse/instrument') %]">[% l('Instrument list') %]</a></li>
        </ul>
    </div>
[% END %]
