@import "colors.less";

#content.rel-editor #tracklist td {vertical-align: top;}
#content.rel-editor #tracklist td.midcol {vertical-align: middle; font-size: 0.9em;}
#content.rel-editor #batch-tools {width: 100%; margin: 0.8em;}
#content.rel-editor div.ars {padding: 0; margin: 0.5em 0; margin-left: 1.5em;}
#content.rel-editor span.link-phrase {color: @text-black; cursor: pointer; text-decoration: none;}
#content.rel-editor span.link-phrase:hover {background: @rel-edit;}
#content.rel-editor #release-rels {margin-top: 1em;}

#content.rel-editor .btn {
    cursor: pointer;
    vertical-align: top;
    color: @link-default;
    white-space: nowrap;
    text-decoration: none;
}
#content.rel-editor .add-rel {
    display: inline-block;
    margin-left: 1.5em;
    padding-bottom: 0.5em;
}
img.bottom {vertical-align: bottom;}
#content.rel-editor .btn.disabled {cursor: default; color: @button-text;}

#content.rel-editor .warning,
div.rel-editor-dialog .warning {
    border: 2px red dotted;
    background: @negative-light-bg;
    padding: 0.5em;
    font-weight: bold;
}
#content.rel-editor .error-field {border-bottom: 2px red dotted;}
