[%- WRAPPER 'release_group/layout.tt' page='index' %]
    [%- INCLUDE 'release_group/annotation.tt' summary=1 -%]

    [% IF eligible_for_cleanup %]
      <p class="cleanup">
          [% l('This release group has no relationships or releases associated,
                and will be removed automatically in the next few days. If this
                is not intended, please add more data to this release group.') %]
      </p>
    [% END %]

    [%- show_wikipedia_extract() -%]

    [%- IF releases.size -%]
      <h2>[% rg.l_type_name %]</h2>
      <form action="[% c.uri_for_action('/release/merge_queue') %]"
            method="post">
        [%- WRAPPER 'components/with-pager.tt' -%]
          <table class="tbl">
            <thead>
              <tr>
                [% IF c.user_exists %]<th class="pos"><input type="checkbox" /></th>[% END %]
                <th>[% l('Release') %]</th>
                <th>[% l('Format') %]</th>
                <th>[% l('Tracks') %]</th>
                <th>[% l('Date') %]</th>
                <th>[% l('Country') %]</th>
                <th>[% l('Label') %]</th>
                <th>[% l('Catalog#') %]</th>
                <th>[% l('Barcode') %]</th>
                [%- IF c.try_get_session('tport') -%]
                  <th>[% l('Tagger') %]</th>
                [%- END -%]
              </tr>
            </thead>
            <tbody>
            [%- FOR group=releases -%]
              <tr class="subh">
                [% IF c.user_exists %]<th></th>[% END %]
                <th colspan="[% (c.try_get_session('tport') ? 9 : 8) %]">[% group.0.l_status_name || l('(unknown)') %]</th>
              </tr>
              [% FOR release=group %]
              <tr class="[% loop.parity %]">
                [% IF c.user_exists %]
                <td>
                  <input type="checkbox" name="add-to-merge"
                         value="[% release.id %]" />
                </td>
                [% END %]
                <td>
                  [% link_release(release) %]
                  [% disambiguation(release) %]
                </td>
                <td>[% html_escape(release.combined_format_name) or "-" %]</td>
                <td>[% release.combined_track_count or "-" %]</td>
                <td>[% release_dates(release.events) %]</td>
                <td>[% release_countries(release.events) %]</td>
                <td>[% release_label_list(release.labels) %]</td>
                <td>[% release_catno_list(release.labels) %]</td>
                <td>[% release.barcode.format %]</td>
                [%- IF c.try_get_session('tport') -%]
                  <td>[% tagger_icon(release) %]</td>
                [%- END -%]
              </tr>
              [% END %]
            [% END %]
            </tbody>
          </table>
          [% END %]

          [% form_submit(l('Add selected releases for merging')) WRAPPER form_row  IF c.user_exists %]
        </form>
    [%- ELSE -%]
        <p>[% l('No releases found.') -%]</p>
    [%- END -%]
    [%- INCLUDE "components/relationships.tt" source=rg -%]
[%- END -%]
